{% assign image = section.settings.image %}

<section
  class="mb-12 md:mb-24 min-h-96 flex justify-center items-center flex-1 flex-shrink-0 bg-gray-100 overflow-hidden shadow-lg relative py-16 md:py-20 xl:py-48">
  <!-- image - start -->
  {% if image %}
  <img sizes="
  (min-width: 1280px) 1500px,
  (min-width: 1024px) 1250px,
  (min-width: 768px) 1000px,
  (min-width: 640px) 720px,
  600px
" srcset="
  {{ image | img_url: '600x' }} 600w,
  {{ image | img_url: '720x' }} 720w,
  {{ image | img_url: '1000x' }} 1000w,
  {{ image | img_url: '1250x' }} 1250w,
  {{ image | img_url: '1500x' }} 1500w
" src="{{ image | img_url: '1500x' }}" alt="{{ image.alt }}" loading="lazy"
    class="w-full h-full object-cover object-center absolute inset-0">
  {% else %}
  {{ 'lifestyle-1' | placeholder_svg_tag: 'w-full h-full object-cover object-center absolute inset-0' }}
  {% endif %}
  <!-- image - end -->

  <!-- overlay - start -->
  <div class="bg-gray-500 mix-blend-multiply absolute inset-0"></div>
  <!-- overlay - end -->

  <!-- text start -->
  <div class="sm:max-w-xl flex flex-col items-center relative p-4">
    <p class="text-indigo-200 text-lg sm:text-xl text-center mb-4 md:mb-8">{{ section.settings.text }}</p>
    <h1 class="text-white text-4xl sm:text-5xl md:text-6xl font-bold text-center mb-8 md:mb-12"> {{
      section.settings.headline }}</h1>

    <div class="w-full flex flex-col sm:flex-row sm:justify-center gap-2.5">
      <a href="{{ section.settings.button-url }}"
        class="inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">{{
        section.settings.button-text }}</a>
    </div>
  </div>
  <!-- text end -->
</section>


{% schema %}
{
"name": "t:sections.hero.name",
"class": "shopify-section-vue",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "t:common.image"
},
{
"type": "text",
"id": "headline",
"label": "t:common.headline",
"default": "Headline"
},
{
"type": "textarea",
"id": "text",
"label": "t:common.text",
"default": "This is a text area"
},
{
"type": "url",
"id": "button-url",
"label": "t:common.button.url"
},
{
"type": "text",
"id": "button-text",
"label": "t:common.button.text",
"default": "Button"
}
],
"presets": [
{
"name": "t:sections.hero.name",
"category": "Image"
}
]
}
{% endschema %}